/*-----------------------------------*\
  #main.css
\*-----------------------------------*/


/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --violet-blue-crayola: hsl(236, 57%, 28%);
  --dark-cornflower-blue_a7: hsla(214, 88%, 27%, 0.07);
  --white: hsla(0, 0%, 100%, 1);
  --white_a3: hsla(0, 0%, 100%, 0.03);
  --white_a8: hsla(0, 0%, 100%, 0.08);
  --white_a12: hsla(0, 0%, 100%, 0.12);
  --white_a70: hsla(0, 0%, 100%, 0.7);
  --cultured: hsla(220, 20%, 97%, 1);
  --platinum: hsl(0, 0%, 90%);
  --lavender-web: hsla(233, 52%, 94%, 1);
  --cadet-blue-crayola: hsla(220, 12%, 70%, 1);
  --cadet-blue-crayola_a20: hsla(222, 23%, 71%, 0.2);
  --charcoal: hsla(218, 22%, 26%, 1);
  --raisin-black: hsla(216, 14%, 14%, 1);
  --light-gray: hsla(0, 0%, 79%, 1);
  --blue-crayola: hsla(219, 72%, 56%, 1);
  --black-coral: hsla(220, 12%, 43%, 1);


  --razzmatazz: hsl(335, 87%, 51%);
  --rajah: hsl(29, 99%, 67%);
  --gradient-2: linear-gradient(90deg,var(--razzmatazz) ,var(--rajah));  

  --space-cadet-1: hsl(230, 41%, 25%);
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);
  --ff-source-sans-pro: 'Source Sans Pro', sans-serif;
  --st-patricks-blue: hsl(236, 57%, 28%);


  --royal-blue-dark: hsl(231, 68%, 21%);
  --ksu-purple: hsl(275, 54%, 33%);
  --royal-blue-dark: hsl(231, 68%, 21%);
  --gradient-1: linear-gradient(90deg,var(--royal-blue-dark) 0,var(--ksu-purple) 51%,var(--royal-blue-dark));

  
  --safety-orange: hsl(25, 100%, 50%);
  --persian-rose: hsl(328, 100%, 59%);
  --gradients: linear-gradient(to left top, var(--persian-rose), var(--safety-orange));



  /**
   * typography
   */


   --ff-source-sans-pro: 'Source Sans Pro', sans-serif;
   --ff-poppins: 'Poppins', sans-serif;

  --fs-1: calc(2.7rem + 1.38vw);
  --fs-2: calc(2.6rem + .66vw);
  --fs-3: 2.2rem;
  
  --fs-4: 1.9rem;
  --fs-5: 1.8rem;
  --fs-6: 1.7rem;
  --fs-7: 1.5rem;
  --fs-8: 1.4rem;
  
  --fw-700: 700;
  --fw-500: 500;


  /** 
   * spacing
   */

  --section-padding: 60px;

  

  /**
   * box shadow
   */

  --shadow-1: 0 0 20px hsla(216, 14%, 14%, 0.05);
  --shadow-2: 0 0 0 0.05rem hsla(214, 88%, 27%, 0.08), 0 0 1.25rem hsla(216, 14%, 14%, 0.06);
  --shadow-3: 0 0 1.25rem hsla(216, 14%, 14%, 0.04);

  /**
   * border radius
   */

  --radius-circle: 50%;
  --radius-pill: 100px;
  --radius-10: 10px;
  --radius-8: 8px;
  --radius-6: 6px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 0.3s ease-in-out;

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
input,
button,
ion-icon { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input { width: 100%; }

button { cursor: pointer; }

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
  font-family: var(--ff-poppins);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--black-coral);
  font-size: 1.6rem;
  line-height: 1.7;
}

body.nav-active { overflow: hidden; }

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 16px; }

.social-list {
  display: flex;
  align-items: center;
  gap: 12px;
}

.social-link {
  font-size: 2rem;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus-visible) { transform: translateY(-3px); }

.section { padding-block: var(--section-padding); }

.has-bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: linear-gradient(to bottom, #014d4e, #000000), url('.../images/hero-bg.png');


}

.h1,
.h2,
.h3,
.h4,
.h5 {
  color: var(--charcoal);
  font-weight: var(--fw-700);
  line-height: 1.3;
}

.h1 { font-size: var(--fs-1); }

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-3); }

.h3 { font-family: var(--ff-source-sans-pro); }

.h4 { font-size: var(--fs-4); }

.h5 { font-size: var(--fs-6); }




.btn {
  max-width: max-content;
  color: hsl(0, 0%, 100%);
  font-size: 1.3rem;
  font-weight: 700;
  padding: 12px 28px;
  border-radius: 100px;
  transition: 0.25s ease;
}

.btn-primary {
  background-image: var(--gradients);
  background-size: 100%;
  color: white;
}
.btn-primary:hover{ background: transparent;
  border: 1px solid var(--safety-orange);
  color: white;
}

.btn-primary,
.btn-outline:is(:hover, :focus-visible) {
  background-color: var(--safety-orange);
  color: var(--charcoal);
  border: 1px solid var(--safety-orange);
}
.btn-outline{
  border: 1px solid var(--safety-orange);
}


.btn-1{
  background-image: var(--gradient-2);
  background-size: 200%;
  color: white;
  padding: 12px 35px;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 0 25px;
  transition: 0.35s ease;
}

.btn-1:is(:hover, :focus) { background-position: right; }



.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-subtitle {
  font-size: var(--fs-7);
  text-transform: uppercase;
  color: var(--violet-blue-crayola);
  font-weight: var(--fw-700);
  margin-block-end: 16px;
}

.grid-list {
  display: grid;
  gap: 25px;
}

.w-100 { width: 100%; }






/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header .btn-1 { display: none; }

.header {
  /* --color: var(--white); */

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 14px;
  z-index: 4;
  transition: var(--transition-1);
}

.header.active {
  --color: black;

  position: fixed;
  background-color: white;
  box-shadow: 0 2px 30px hsla(0, 0%, 0%, 0.1);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.logo {
  
}

.nav-open-btn {
  color: black;
  font-size: 32px;
  padding: 4px;
}

.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  left: -280px;
  width: 100%;
  max-width: 280px;
  min-height: 100%;
  padding: 20px;
  visibility: hidden;
  z-index: 2;
  transition: 0.25s var(--cubic-in);
}

.navbar.active {
  transform: translateX(280px);
  visibility: visible;
  transition: 0.5s var(--cubic-out);
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px 30px;
}

.navbar-top .logo {
  color: var(--st-patricks-blue);
  font-size: 4.2rem;
  font-weight: var(--fw-700);
}

.nav-close-btn {
  color: var(--space-cadet-1);
  font-size: 2.8rem;
  padding: 4px;
}

.navbar-item:not(:last-child) { border-bottom: 1px solid var(--platinum); }

.navbar-link {
  color: black;
  font-size: var(--fs-8);
  font-weight: var(--fw-600);
  padding-block: 12px;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--black_70);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-2);
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}






/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  padding-block-start: calc(var(--section-padding) + 70px);
  text-align: center;
}

.hero .container {
  display: grid;
  gap: 70px;
}

.hero-title { color: var(--white); }

.hero-text {
  font-size: var(--fs-5);
  color: var(--white);
  margin-block: 24px 36px;
}

.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.hero-slider,
.hero-card { position: relative; }

.hero-card .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  color: var(--charcoal);
  font-size: 2rem;
  padding: 25px;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
  animation: pulse 2s ease infinite;
}

.hero-card .play-btn:is(:hover, :focus-visible) { color: var(--violet-blue-crayola); }

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--white_a70); }
  75% { box-shadow: 0 0 0 20px transparent; }
}

.hero .slider-inner {
  border-radius: var(--radius-10);
  overflow: hidden;
}

.hero .slider-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  transition: var(--transition-2);
}

.hero .slider-item {
  min-width: 100%;
  width: 100%;
  border-radius: var(--radius-10);
  overflow: hidden;
}

.hero .slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--white_a70);
  color: var(--charcoal);
  font-size: 2rem;
  padding: 12px;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
}

.hero .slider-btn:is(:hover, :focus-visible) { background-color: var(--white); }

.hero .slider-btn.prev { left: 20px; }

.hero .slider-btn.next { right: 20px; }





/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.service { text-align: center; }

.service .section-title { margin-block-end: 50px; }

.service-card {
  padding: 40px;
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-6);
}

.service-card .card-icon {
  width: 60px;
  height: 60px;
  background-color: var(--violet-blue-crayola);
  display: grid;
  place-items: center;
  color: var(--white);
  font-size: 2.5rem;
  border-radius: var(--radius-circle);
  margin-inline: auto;
}

.service-card .card-icon ion-icon { --ionicon-stroke-width: 50px; }

.service-card .card-title { margin-block: 16px 10px; }

.service-card .btn-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-block-start: 10px;
  color: var(--violet-blue-crayola);
  font-weight: var(--fw-700);
  transition: var(--transition-1);
}

.service-card .btn-text:is(:hover, :focus-visible) { opacity: 0.9; }





/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about .container {
  display: grid;
  gap: 50px;
}

.about .section-title { margin-block-end: 35px; }

.accordion-card .card-title { padding-block-end: 20px; }

.accordion-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.accordion-btn ion-icon {
  font-size: 1.5rem;
  color: var(--blue-crayola);
  transition: var(--transition-1);
}

.accordion-card.expanded .accordion-btn ion-icon {
  transform: rotate(0.5turn);
}

.accordion-btn .span { transition: var(--transition-1); }

.accordion-btn:is(:hover, :focus-visible) .span,
.accordion-card.expanded .accordion-btn .span { color: var(--violet-blue-crayola); }

.accordion-content {
  padding-inline-start: 24px;
  max-height: 0;
  overflow: hidden;
}

.accordion-card.expanded .accordion-content {
  max-height: max-content;
  padding-block-end: 20px;
}





/*-----------------------------------*\
  #FEATURES
\*-----------------------------------*/

.feature .container {
  display: grid;
  gap: 50px;
}

.feature .section-text { margin-block: 25px 30px; }

.feature-list {
  display: grid;
  gap: 15px;
}

.feature-card {
  display: flex;
  align-items: center;
  gap: 10px;
}

.feature-card .card-icon {
  background-color: var(--lavender-web);
  font-size: 1.4rem;
  padding: 4px;
  border-radius: var(--radius-circle);
}

.feature-card .card-icon ion-icon { --ionicon-stroke-width: 40px; }





/*-----------------------------------*\
  #STATS
\*-----------------------------------*/

.stats { background-image: linear-gradient(to bottom, var(--white) 50%, var(--cultured) 50%); }

.stats-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 36px 24px;
  padding: 45px 30px;
  border-radius: var(--radius-8);
}

.stats-card .card-text > * { color: var(--white); }





/*-----------------------------------*\
  #PROJECT
\*-----------------------------------*/

.project { background-color: var(--cultured); }


.project .container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.project .container .imgBx {
  position: relative;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgBx1 {
  background: url(../images/Golf\ Watch.png);
}
.imgBx2 {
  background: url(../images/Sports\ Fitness.png);
}
.imgBx3 {
  background: url(../images/Ultimate\ Neon.png);
}
.imgBx4 {
  background: url(../images/Luxury\ House.png);
}
.imgBx5 {
  background: url(../images/Louvre\ Museum.jpg);
}
.imgBx6 {
  background: url(../images/Splash\ Colors.png);
}

.project .container .imgBx .fa-eye {
  font-size: 1.3rem;
  color: #ffffff;
  transform: scale(0);
  transition: 0.3s;
  transition-delay: 0.1s;
  z-index: 10;
}

.project .container .imgBx::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: 0.3s;
  cursor: zoom-in;
}

.project .container .imgBx:hover::after {
  transform: scaleY(1);
  transform-origin: top;
}

@media (min-width: 992px) {
 .project .container .imgBx {
  position: relative;
  width: 33.33%;
}
}



/*-----------------------------------*\
  #CTA
\*-----------------------------------*/

.cta { background-color: var(--charcoal); }

.cta .container {
  padding-block: 100px 60px;
  border-block-end: 1px solid var(--cadet-blue-crayola_a20);
}

.cta .section-title {
  color: var(--white);
  margin-block-end: 30px;
}

.cta .btn {
  background-color: var(--violet-blue-crayola);
  color: var(--white);
  border: none;
}




/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer { font-size: 1.5rem; }


.footer a { color: inherit; }

.footer-top {
  background-image: url(".../images/footer-bg.png"), var(--gradient-1);
  background-repeat: no-repeat;
  background-size: auto, 200%;
  background-position: center, center;
  color: white;
}

.footer-brand { margin-block-end: 30px; }

.footer-brand .logo {
  font-weight:  700;
  margin-block-end: 15px;
}

.footer-brand .text {
  font-size: 1.5rem;
  margin-block-end: 20px;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.footer-top .social-link {
  background-color: white;
  color: hsl(335, 87%, 53%);
  font-size: 18px;
  padding: 8px;
  border-radius: 50%;
}

.footer-top .social-link:is(:hover, :focus) {
  background-image: var(--gradient-2);
  color: white;
}

.footer-list:not(:last-child) { margin-block-end: 25px; }

.footer-list-title {
  font-family: var(--ff-source-sans-pro);
  font-size: 2.4rem;
  font-weight: 700;
  margin-block-end: 15px;
}

.footer-link { padding-block: 5px; }

:is(.footer-link, .footer-item-link):not(address):is(:hover, :focus) { text-decoration: underline; }

.footer-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-block: 10px;
}

.footer-item-icon {
  background-image: var(--gradient-2);
  padding: 13px;
  border-radius: 50%;
}

.footer-bottom {
  background-color: hsl(230, 59%, 16%);
  padding: 20px;
  text-align: center;
  /* color: var(--white); */
}

.copyright-link {
  display: inline-block;
  text-decoration: underline;
}

.copyright-link:is(:hover, :focus) { text-decoration: none; }



/*-----------------------------------*\
  #GO TO TOP
\*-----------------------------------*/

.go-top {
  position: fixed;
  bottom: 0;
  right: 15px;
  background-color: hsl(335, 87%, 53%);
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  padding: 12px;
  border-radius: 4px;
  box-shadow: -3px 3px 15px hsla(335, 87%, 53%, 0.5);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: 0.15s ease;
}

.go-top.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(-15px);
}



/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }



  /**
   * PROJECTS
   */

  .project-card .card-content { padding: 40px; }


    
  /**
   * FOOTER
   */

   .footer-brand,
   .footer-list:not(:last-child) { margin-block-end: 0; }
 
   .footer-top .container {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 30px 50px;
   }

}





/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * spacing
     */

    --section-padding: 60px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }

  .grid-list { grid-template-columns: 1fr 1fr; }



  /**
   * HEADER
   */

   .header .btn-1 {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-inline-start: auto;
  }



  /**
   * HERO
   */

  .hero-content {
    max-width: 85%;
    margin-inline: auto;
  }

  .hero-text { --fs-5: 2rem; }



  /**
   * SERVICE
   */

  .service .section-title {
    max-width: 30ch;
    margin-inline: auto;
  }



  /**
   * ABOUT
   */

  .about .container {
    grid-template-columns: 1fr 0.7fr;
    align-items: center;
  }



  /**
   * FEATURE
   */

  .feature .container {
    grid-template-columns: 0.7fr 1fr;
    align-items: center;
  }

  .feature-banner { order: 1; }

  
    /**
   * FOOTER
   */

   .footer-top .container { grid-template-columns: repeat(3, 1fr); }



}





/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 960px; }



  /**
   * HEADER
   */

   .header { padding-block: 20px; }

   .overlay,
   .nav-open-btn,
   .navbar-top { display: none; }
 
   .navbar,
   .navbar.active {
     all: unset;
     margin-inline-start: auto;
   }
 
   .header .btn-1 { margin-inline-start: 0; }
 
   .navbar-list {
     display: flex;
     gap: 25px;
   }
 
   .navbar-item:not(:last-child) { border-bottom: none; }
 
   .navbar-link { color: var(--white); }

   .header.active .navbar-link   {
  color: black;
   }
 

  /**
   * HERO
   */

  .hero {
    padding-block-start: calc(var(--section-padding) + 50px);
    text-align: left;
  }

  .hero .container {
    grid-template-columns: 1fr 0.8fr;
    align-items: center;
  }

  .hero-content {
    max-width: unset;
    margin-inline: 0;
  }

  .btn-wrapper { justify-content: flex-start; }



  /**
   * STATS
   */

  .stats-card { grid-template-columns: repeat(4, 1fr); }



  /**
   * PROJECT
   */

  .project .section-title {
    max-width: 32ch;
    margin-inline: auto;
  }



  /**
   * CTA
   */

  .cta .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cta .btn { min-width: max-content; }

  .cta .section-title {
    max-width: 30ch;
    margin-block-end: 0;
  }



  /**
   * FOOTER
   */

  .footer .grid-list { grid-template-columns: repeat(4, 1fr); }

}





/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 1140px; }



  /**
   * HERO
   */

  .hero-text { padding-inline-end: 100px; }



  /**
   * SERVICE
   */

  .service .grid-list { grid-template-columns: repeat(4, 1fr); }



  /**
   * STATS
   */

  .stats .container { max-width: 70%; }

  .stats-card { padding: 60px; }



  /**
   * PROJECT
   */

  .project .grid-list { grid-template-columns: repeat(3, 1fr); }



    
  /**
   * FOOTER
   */

   .footer-top .container { grid-template-columns: 1fr 0.5fr 0.7fr 0.5fr 1fr; }

   .footer-brand { grid-column: auto; }

}





/**
 * responsive for large than 1400px screen
 */

@media (min-width: 1400px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 1320px; }

  

  /**
   * FEATURE
   */

  .feature-list { grid-template-columns: 1fr 1fr; }

}
